body {
    height: 95vh;
    background-color: #E9EAED
}

#main_content {
    text-align: center;
    background-color: #FFF;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 10.5em;
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0 25vw;
    border: 1px solid #CFCFCF;
    border-radius: 3px;
}

#title, #output {
    font-weight: 500;
    margin: 0px;
    padding: 20px 0px;
    color: #333;
}

#input {
    width: 350px;
    font-size: 1em;
    border-radius: 2px;
    padding-left: 3px;
    border: 1px solid #999;
    padding: 3px;
}

#input:focus {
    outline: none;
}

#input::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
#input:-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
#input::-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
#input:-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

#input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
#input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
#input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
#input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

#input.fade::-webkit-input-placeholder {
  opacity: 0;
}
#input.fade:-moz-placeholder {
  opacity: 0;
}
#input.fade::-moz-placeholder {
  opacity: 0;
}
#input.fade:-ms-input-placeholder {
  opacity: 0;
}

#submit {
    font-size: 1em;
    border: 1px solid #999;
    background-color: #E9EAED;
    border-radius: 2px;
    color: #333;
    padding: 3px 6px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

#submit:hover {
    color: #E9EAED;
    background-color: #555;
    cursor: pointer;
}

#submit:focus {
    outline: none;
}
